body {
    margin: 1px;
    padding: 1px;
    font-family: Arial, sans-serif;
    background: url("../img/cllg.jpg") no-repeat center center fixed;
    background-size: cover;
    color: rgb(255, 255, 255);
}
nav {
    background: rgba(226, 226, 226, 0.8);
    padding: 20px;
    text-align: center;
}

nav a {
    color: rgb(0, 0, 0);
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: rgb(255, 0, 0);
}

form {
    background-color: white;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #000000;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    background-color: aliceblue;
    background-size: 40%;
    
}
h2 {
    color: #000000;
    text-align: center;
    background-color: #ccc;
    text-shadow: #333;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    color: #333;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
label {
    color: #333;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
