body {
    margin: 70px;
    font-family: Arial, sans-serif;
    background: url("../img/cllg.jpg") no-repeat center center fixed;
    background-size: cover;
    color: rgb(255, 255, 255);
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: aquamarine;
    font-weight: bold;
}
.head {
    
    align-items:center;
    justify-content: center;
}

.logo {
    width: 80px;
    height: auto;
    border-radius: 20%;
    margin-right: 30px;
}

h2{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
header {
    background: rgba(0,0,0,0.7);
    padding: 15px;
    text-align: center;
}

nav {
    background: rgba(226, 226, 226, 0.8);
    padding: 30px;
    text-align: center;
}

nav a {
    color: rgb(0, 0, 0);
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: rgb(255, 0, 0);
}

.container {
    padding: 30px;
    background: rgba(0,0,0,0.6);
    margin: 40px;
    border-radius: 10px;
}
