body {
    margin: 0;
    font-family: Arial, sans-serif;

    
    background-image: url("../img/cllg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.container {
    max-width: 700px;
    margin: 60px auto;
    padding: 25px;
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.9); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

h2 {
    color: #2c3e50;
}

h3 {
    margin-top: 20px;
    color: #34495e;
}

p {
    line-height: 1.6;
    color: #333;
}

ul {
    padding-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th {
    background-color: #2c3e50;
    color: white;
    padding: 10px;
}

td {
    padding: 8px;
    background-color: #f9f9f9;
}

tr:nth-child(even) td {
    background-color: #eaeaea;
}
