body {
    margin: 1 px;
    padding: 1 px;
    font-family: Arial, sans-serif;

    
    background-image: url("../img/cllg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
nav {
    background: rgba(226, 226, 226, 0.8);
    padding: 20px;
    text-align: center;
    font-size: medium;
}
nav a {
    color: rgb(0, 0, 0);
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: rgb(255, 0, 0);
}
.gallery img {
    width: 250px;
    height: 250px;
    margin: 30px;
    border: 2px solid #070303;
}
h2 {
    text-align: center;
    color: #000000;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    background-color: aliceblue;
    background-size: 40%;
}
.gallery {
    text-align: center;
}
