body {
    margin: 0;
    font-family: Arial, sans-serif;

    
    background-image: url("../img/cllg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.gallery img {
    width: 250px;
    height: 250px;
    margin: 30px;
    border: 2px solid #070303;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(5, 54, 57);
    text-align: center;
    font-size: 40px;
}
.gallery {
    text-align: center;
}
